/* Colors
beige: rgb(240, 227, 202)
orange: rgb(255, 131, 3)
brown: rgb(163, 87, 9)
black: rgb(27, 26, 23)

*/

* {
  box-sizing: border-box;
}
body {
  max-width: auto;
  max-height: auto;
  background-color: rgb(240, 227, 202);
  color: rgb(27, 26, 23);
  font-family: Montserrat;
  overflow: auto;
}

.navbar {
  position: fixed;
  top: 0;
}

.navigation-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 131, 3);
  height: 10vh;
  width: 99vw;
  align-items: center;
  opacity: 0.85;
}

li {
  list-style-type: none;
  font-size: 20px;
}

#headerVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(75%);
  z-index: -1;
}

#headerVideoHeadline {
  color: rgb(240, 227, 202);
  font-size: 120px;
  text-align: center;
  padding-top: 10%;
}

.contentSlider {
  width: 100%;
  height: 1000px;
  background-color: rgb(240, 227, 202);
}

.homeBanner {
  width: 100%;
  height: 250px;
  background-color: rgb(163, 87, 9);
}

.imageSlider {
  width: 100%;
  height: 500px;
  background-color: rgb(240, 227, 202);
}

.footer {
  width: 100%;
  height: 250px;
  background-color: rgb(163, 87, 9);
}
